<div style="background-color: plum; position: relative; height: 95%; padding: 10px">
  <h1>A quien corresponda</h1>
  <p>Este pequeño proyecto fue hecho con la intencion de recrear de forma sencilla un metodo para la recuperacion de contraseñas de usuario. Para esto, utilizaremos las tecnologías de Nodemailer, JsonWebToken y Passport (y Node claramente). Espero que te sea de utilidad.</p>
  <p>- Allan</p>

  <a href="/">Home</a>
</div>