<div style="background-color: black; height: 55%; padding: 50px">
  <h2 style="font-weight: bold; color: red">¡Error al autenticar!</h2>
  <p style="color: coral">Mensaje de error: <br> - {{message}}</p>
</div>
<p>¿No tenes cuenta? <a href="/register">Registrate</a></p>
<span>¿Ya tenes cuenta? <a href="/login">Ingresar</a></span>