<form action="/api/auth/reset/new-password" method="post">
  <h3>Recuperar contraseña</h3>
  <div>
    <label for="password">Nueva contraseña:</label>
    <input type="password" name="password" id="password" required>
  </div> <br>
  <div>
    <label for="email-confirm">Confirmar contraseña:</label>
    <input type="email" name="email-confirm" id="email-confirm" required>
  </div> <br>
  <input type="submit" value="Confirmar cambios">
</form>

