<form action="/api/auth/reset/new-password?token={{token}}&key={{key}}&email={{email}}" method="post">
  <h3>¡Hola nuevamente {{username}}!</h3>
  <h3>Recuperar contraseña</h3>
  <div>
    <label for="password">Nueva contraseña:</label>
    <input type="password" name="password" id="password" required>
  </div> <br>
  <div>
    <label for="password-confirm">Confirmar contraseña:</label>
    <input type="password" name="passwordConfirm" id="password-confirm" required>
  </div> <br>
  <input type="submit" value="Confirmar cambios">
</form>

