<form action="/api/auth/reset/sendmail" method="post">
  <h3>Recuperar contraseña</h3>
  <p>Te enviaremos un mail a tu correo para que puedas cambiar tu contraseña</p>
  <div>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>
  </div> <br>
  <div>
    <label for="email-confirm">Confirmar email:</label>
    <input type="email" name="email-confirm" id="email-confirm" required>
  </div> <br>
  <input type="submit" value="Enviar">
</form>

<p>¿No tenes cuenta? <a href="/register">Registrate</a></p>
