<br><br>
{{#if message.sendMail}}
  <h3>¡Correo enviado exitosamente!</h3>
  <p>Revisa tu buzon de correo e ingresa al link que te enviamos</hp>
  <p>¿No tenes cuenta? <a href="/register">Registrate</a></p>
{{/if}}
{{#if message.resetSuccess}}
  <h3>¡Contraseña cambiada con exito!</h3>
  <p><a href="/login">Ingresar</a></p>
{{/if}}

